<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal Wall Calendar">
    <meta name="author" content="Billy Andrews">    
    <link id="theme-style" rel="stylesheet" href="static/css/styles.css">
    <title>Billy's Wall Calendar</title>
</head> 





<body> 
    <center>
        <!-- Google Calendar -->
        <div class="container-fluid calendar">
            <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=680&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=scripture187%40gmail.com&amp;color=%232952A3&amp;src=3dl7vs9cqjpnrensqbo21nl1u0%40group.calendar.google.com&amp;color=%23711616&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%230F4B38&amp;src=0b5kisvhgqc6vum2lr1c8pcnqs%40group.calendar.google.com&amp;color=%2328754E&amp;src=nfl_23_Pittsburgh%2BSteelers%23sports%40group.v.calendar.google.com&amp;color=%23875509&amp;src=pgpu8462nt6ib0hign6smtvjec%40group.calendar.google.com&amp;color=%23182C57&amp;src=nfl_28_Washington%2BRedskins%23sports%40group.v.calendar.google.com&amp;color=%23b40000&amp;src=n8sk4ulvr8ktiink8ocj15qqlr8hha51%40import.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style="border-width:0" width="1050" height="680" frameborder="0" scrolling="no"></iframe>
        </div>
        
        <!-- Weather -->
        <div class="container-fluid weather">
            <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=38.243400&amp;lon=-77.525797&amp;name=Fredericksburg"></iframe>
        </div>
        
        <!-- Radar -->
        <div class="container-fluid radar">
            <img src="https://radblast.wunderground.com/cgi-bin/radar/WUNIDS_map?station=LWX&amp;brand=wui&amp;num=10&amp;delay=15&amp;type=NTP&amp;frame=0&amp;scale=1.000&amp;noclutter=0&amp;showstorms=99&amp;mapx=400&amp;mapy=240&amp;centerx=400&amp;centery=240&amp;transx=0&amp;transy=0&amp;showlabels=1&amp;severe=0&amp;rainsnow=1&amp;lightning=1&amp;smooth=0&amp;rand=24938985&amp;lat=0&amp;lon=0&amp;label=you" height="600px" width="850px"/>
        </div>
        
        
    </center>
    

</body>
</html> 